nav {
	header & {
		background-color: darken($blue, 15%);
	}

	.branding {
		float: left;
		display: none;
		@include break(1000px) {
			display: block;
		}
		a{
			font-family:Algerian;
			color: #FFBA00;
			text-decoration: none;

		}
	}

	.branding h1 {
		font-size: 3.00rem;
		overflow: hidden;
		margin-top: 5px;
		color: $yellow;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		@include clearfix;

	}

	ul li {
		@include break(760px) {
			float: right;
		}
		padding: 10px 5px;
		list-style-type: none;
		margin-top:4px;
		&:hover{
			background-color: darken($blue, 20%);
			-webkit-transition:1000ms ease;
			-moz-transition:1000ms ease;
			-o-transition:1000ms ease;
			transition:1000ms ease;
		}
	}

	ul li a {
		padding: 10px 5px;
		color: $color-backgrounds;
		font-family:Merriweather, Helvetica, sans-serif;
		&:hover {
			color: $yellow;
			text-decoration: none;
			-webkit-transition:1000ms ease;
			-moz-transition:1000ms ease;
			-o-transition:1000ms ease;
			transition:1000ms ease;
		}



		footer & {
			color: white;
		}
	}
	footer & {
		margin-top:20px;
		min-height: 200px;
		background-color: darken($blue, 15%);

		@include break(0, 500px) {
			display: none;
		}
	}
}