
/*Bootstrap Navbar styles starts*/
.caret-up {
  width: 0;
  height: 0;
  border-left: 4px solid rgba(0, 0, 0, 0);
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-bottom: 4px solid;

  display: inline-block;
  margin-left: 2px;
  vertical-align: middle;
}

/*Bootstrap Navbar styles ends*/

.header_title{
  font-family: Cookie, "Harlow Solid Italic", monospace;

}
.header_title a{
  font-size: 40px;
}

.menu{
  font-family: Merriweather, Helvetica, sans-serif;
  font-size: 16px;
}


/*
nav
{
  header &
  {
    background-color: darken($blue, 15%);
  }
  //margin-top: -40px;

  .branding
  {
    float: left;
    display: none;
    @include break(1000px)
    {
      display: block;
    }
    a
    {
      font: normal 35px 'Cookie', cursive;
      color: #FFBA00;
      text-decoration: none;

    }
  }

  .branding h1
  {
    font-size: 3.00rem;
    overflow: hidden;
    margin-top: 5px;
    color: $yellow;

  }

  ul
  {
    list-style: none;
    margin: 0;
    padding: 0;
    @include clearfix;

  }

  ul li
  {
    @include break(760px)
    {
      float: right;
    }
    padding: 10px 5px;
    text-decoration: none;
    margin-top: 4px;
    &:hover
    {
      background-color: darken($blue, 20%);
      -webkit-transition: 1000ms ease;
      -moz-transition: 1000ms ease;
      -o-transition: 1000ms ease;
      transition: 1000ms ease;
    }
  }

  ul li a
  {
    padding: 10px 5px;
    color: $color-backgrounds;
    font-family: comic sans ms, Merriweather, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;

    &:hover
    {
      color: $yellow;
      text-decoration: none;
      -webkit-transition: 1000ms ease;
      -moz-transition: 1000ms ease;
      -o-transition: 1000ms ease;
      transition: 1000ms ease;
    }
    &:visited{
      color:$color-backgrounds;
    }

  }
}*/
